<html>
    <head>
        <title>All Products</title>
    </head>
    <body>
        <h1>Product List</h1>
        <% console.log(products) %>
          <% for(var i=0; i<products.length; i++) { %>
          <h1> <%= products[i]._id %> </h1>
            <h1> <%= products[i].name %> </h1>
            <p> <%= products[i].description %> </p>
            <p>
              <%= products[i].user%>
            </p>
            <h3><%= products[i].price%></h3>
            <p> <%= products[i].quantity %> </p>
            <h4><%= products[i].created%></h4>
            <% } %>
    </body>
</html>