<html>
    <head>
        <title>Edit product</title>
    </head>
    <body>
        <h1>Edit Product</h1>
        <div>Name:
            <input type="text" id="name" value="<%=request.product.name%>" />
        </div> <br>
        <div>Description:
            <textarea id="description"> <%=request.product.description%> </textarea>
        </div> <br>
        <div>Price:
            <input type="number" id="price" value=<%=request.product.price%> />
        </div> <br>
        <div>Quantity:
            <input type="number" id="quantity" value=<%=request.product.quantity%> />
        </div> <br>
        <button id="submit">Submit</button>
        
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script>
        
            var productID = <%- JSON.stringify(request.product._id) %>;
            var product = {};
            $("#name").change(function(){
                product.name = $("#name").val();
            });
            
            $("#description").change(function(){
                product.description = $("#description").val();
            });
            
            $("#price").change(function(){
                product.price = $("#price").val();
            });
            
            $("#quantity").change(function(){
                product.quantity = $("#quantity").val();
            });
            
            $("#submit").click(function(){
                console.log(product);
                $.ajax({
                    method: "PUT",
                    url: "/api/products/edit/"+productID,
                    data: product
                }).done(function(response){
                    console.log(response);
                    window.location.replace("/products/"+response._id);
                });
            });
        </script>
    </body>
</html>